:root {
  --bg: #f7f4ef;
  --txs: #a3a3a3;
  --tx: #5a5a5a;
  --txb: #000000;
  --t: #e06c75;
  --shadow: #00000040;
  --link: #3ba9dc;
  --border: #00000020;
}

:root[data-theme="dark"] {
  --bg: #2b2b2b;
  --txs: #636363;
  --tx: #cccccc;
  --txb: #ffffff;
  --t: #ff9a9a;
  --shadow: #00000040;
  --link: #3ba9dc;
  --border: #ffffff20;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--tx);
  transition: background-color .2s, color .2s;
}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-track {
  background: var(--bg) !important;
}

::-webkit-scrollbar-thumb {
  background: #00000050 !important;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000070 !important;
}

.preview {
  width: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  padding: 20px;
  background-color: var(--bg);
}

.builder {
  box-shadow: 0 0 10px #00000040;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0;
  overflow: auto;
  background-color: var(--bg);
  z-index: 1;
}

.build-content {
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: auto;
  overflow-x: visible;
}

.build-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
  padding-inline: 20px;
  width: 100%;
  height: max-content;
  box-shadow: 0 0 10px #00000040;
  transition: 0.2s;

  @media (max-width: 1000px) {
    flex-direction: column;
    padding: 10px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;

  .text-input {
    background-color: transparent;
    box-shadow: 0 0 10px #00000030;
    padding: 5px;
    padding-left: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid var(--border);
    outline: 0;
    color: var(--tx);
  }
}

.build-footer {
  z-index: 1;
  position: sticky;
  bottom: 0;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  place-items: center;
  width: 100%;
  height: max-content;
  box-shadow: 0 0 10px #00000040;
  transition: 0.2s;

  * {
    padding: 8px;
    box-shadow: 0 0 10px #00000030;
    border-radius: 8px;
    background-color: var(--bg);
    color: var(--txb);
    font-size: 20px;
    width: 40px;
    height: 40px;
    transition: .2s;
    cursor: pointer;
  }
  *:hover {
    scale: 1.1;
    box-shadow: 0 0 5px #00000030;
  }
  *:active {
    scale: 0.9;
  }
}

.previewText {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 50%;
  background-color: var(--bg);
  padding: 10px;
  border-bottom-right-radius: 12px;
  box-shadow: 5px 5px 6px #00000020;
  color: var(--tx);
}

.draggable-item {
  padding: 10px;
  cursor: grab;
}

.togglePage {
  position: fixed;
  bottom: 80px;
  right: 15px;
  background-color: var(--link);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  color: var(--txb);
  z-index: 5;
  font-size: 27px;
  display: none;
  box-shadow: 0 0 10px #00000040;
  transition: 0.2s;
}

.toggleUI {
  position: fixed;
  bottom: 130px;
  right: 15px;
  background-color: var(--link);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  color: var(--txb);
  z-index: 5;
  font-size: 27px;
  display: none;
  box-shadow: 0 0 10px #00000040;
  transition: 0.2s;
}

.toggleTheme {
  position: fixed;
  bottom: 180px;
  right: 15px;
  background-color: var(--link);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  color: var(--txb);
  z-index: 5;
  font-size: 27px;
  display: none;
  box-shadow: 0 0 10px #00000040;
  transition: 0.2s;
}

.redbtn {
  background-color: #ff666690 !important;
}

.greenbtn {
  background-color: #66ff6690 !important;
}

.bluebtn {
  background-color: #3ba9dc90 !important;
}

.popup {
  z-index: 10;
  background-color: #00000090;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;

  .popup-content {
    background-color: var(--bg);
    position: fixed;
    width: 200px;
    height: 110px;
    display: grid;
    border-radius: 16px 16px 10px 10px;
    overflow: hidden;
    grid-template-columns: 100px 100px;
    grid-template-rows: 70px 40px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    .popup-text {
      padding: 15px;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      color: var(--txb);
    }

    .material-symbols-rounded {
      font-size: 25px;
      color:var(--txb);
    }
  }
}

.import {
  z-index: 10;
  background-color: #00000090;
  position: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  .import-content {
    background-color: var(--bg);
    position: fixed;
    width: 400px;
    height: 610px;
    display: grid;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 50px) 50px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    #importText {
      outline: none;
      resize: none;
      background-color: var(--bg);
      padding: 10px;
    }

    .material-symbols-rounded {
      font-size: 25px;
      color: var(--txb);
    }
  }
}

@media (max-width: 900px) {
  .builder,
  .preview {
    width: 100%;
  }

  .preview {
    padding: 0;
  }
  .showPreview {
    z-index: -1 !important;
  }
  .previewText, .themeToggle {
    display: none;
  }
  .build-content {
    padding: 20px;
  }

  .togglePage,
  .toggleUI,
  .toggleTheme {
    display: block;
  }

  .build-footer {
    gap: 10px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 15px;

    * {
      border-radius: 4px;
      flex-grow: 1;
      flex-shrink: 1;
      font-size: 14px;
    }
  }

  .import-content {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    top: 0;
    left: 0;
    translate: 0 0;
    
    #importText {
      font-size: 16px !important;
      padding: 20px !important;
    }
  }
}

@media (max-width: 1720px) {
  hr {
    margin-top: 5px;
    margin-inline: 8px;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }

  .space {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 38px;
  }

  .back-link {
    margin-left: 8px;
  }

  .header {
    padding-inline: 8px;
  }

  .header > .title {
    font-size: 35px;
  }

  .header > .desc {
    font-size: 18px;
  }

  .container {
    font-size: 16px;
  }

  .generated-content {
    gap: 10px !important;
  }

  .text,
  .list {
    padding-inline: 8px;
  }

  .list > .list-text > .link {
    font-size: 16px;
  }

  .list > .star::marker {
    font-size: 18px;
  }

  .image {
    width: 100%;
    border-radius: 0px !important;
    margin: 10px;
    margin-inline: 0px;
  }

  .btn-blue,
  .btn-bg {
    line-height: 35px;
  }
}

.hideUI .build-header,
.hideUI .build-footer {
  height: 0px;
  padding: 0;
  overflow: hidden;
  padding-inline: 10px;
}

.hideUI ~ .togglePage {
  bottom: 20px;
}

.hideUI ~ .toggleUI {
  bottom: 70px;
}

.hideUI ~ .toggleTheme {
  bottom: 120px;
}

.showPreview ~ .togglePage {
  bottom: 20px;
}

.showPreview ~ .toggleTheme {
  bottom: 70px;
}

.showPreview ~ .toggleUI {
  bottom: 70px;
  display: none;
}
