:root {
  /*=======COLORS===========*/
  --bg: #f7f4ef;
  --fg: #f7f4ef;
  --e: #f7f4ef;
  --txs: #a3a3a3;
  --tx: #5a5a5a;
  --txb: #000000;
  --t: #e06c75;
  --shadow: #00000040;
  --link: #3ba9dc;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-track {
  background: #f7f4ef !important;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3 !important;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a !important;
}

.preview {
  width: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  padding: 20px;
  background-color: var(--bg);
}

.builder {
  box-shadow: 0 0 10px #00000040;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0;
  overflow: auto;
  background-color: var(--bg);
  z-index: 1;
}

.build-content {
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: auto;
  overflow-x: visible;
}

.build-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
  padding-inline: 20px;
  width: 100%;
  height: max-content;
  box-shadow: 0 0 10px #00000040;
  transition: .2s;

  @media (max-width: 1000px) {
    flex-direction: column;
    padding: 10px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;

  .text-input {
    background-color: transparent;
    box-shadow: 0 0 10px #00000030;
    padding: 5px;
    padding-left: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #00000020;
    outline: 0;
  }
}

.build-footer {
  z-index: 1;
  position: sticky;
  bottom: 0;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  place-items: center;
  width: 100%;
  height: max-content;
  box-shadow: 0 0 10px #00000040;
  transition: .2s;

  * {
    padding: 8px;
    box-shadow: 0 0 10px #00000030;
    border-radius: 8px;
    background-color: var(--bg);
    color: var(--txb);
    font-size: 20px;
  }
}

.previewText {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 50%;
  background-color: var(--bg);
  padding: 10px;
  border-bottom-right-radius: 12px;
  box-shadow: 5px 5px 6px #00000020;
}

.draggable-item {
  padding: 10px;
  cursor: grab;
}

.togglePage {
  position: fixed;
  bottom: 80px;
  right: 15px;
  background-color: var(--link);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  color: white;
  z-index: 5;
  font-size: 27px;
  display: none;
  box-shadow: 0 0 10px #00000040;
  transition: .2s;
}

.toggleUI {
  position: fixed;
  bottom: 130px;
  right: 15px;
  background-color: var(--link);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  color: white;
  z-index: 5;
  font-size: 27px;
  display: none;
  box-shadow: 0 0 10px #00000040;
  transition: .2s;
}

.redbtn {
  background-color: #ff666690 !important;
}

.greenbtn {
  background-color: #66ff6690 !important;
}

.popup {
  z-index: 10;
  background-color: #00000090;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;

  .popup-content {
    background-color: var(--bg);
    position: fixed;
    width: 200px;
    height: 110px;
    display: grid;
    border-radius: 16px 16px 10px 10px;
    overflow: hidden;
    grid-template-columns: 100px 100px;
    grid-template-rows: 70px 40px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    .popup-text {
      padding: 15px;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    .material-symbols-rounded {
      font-size: 25px;
      color: #000000;
    }
  }
}

@media (max-width: 900px) {
  .builder,
  .preview {
    width: 100%;
  }
  .showPreview {
    z-index: -1 !important;
  }
  .previewText {
    display: none;
  }
  .build-content {
    padding: 20px;
  }

  .togglePage, .toggleUI {
    display: block;
  }
}

@media (max-width: 1720px) {
  hr {
    margin-top: 5px !important;
    margin-inline: 8px !important;
  }

  .container {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 100% !important;
  }

  .space {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-inline: 8px !important;
  }

  .back-link {
    margin-left: 8px !important;
  }

  .header {
    padding-inline: 8px !important;
  }

  .header > .title {
    font-size: 35px !important;
  }

  .header > .desc {
    font-size: 18px !important;
  }

  .text-container {
    font-size: 16px !important;
    padding-inline: 8px !important;
  }

  .text-container > .list > .list-text > .link {
    font-size: 16px !important;
  }

  .text-container > .list > .star::marker {
    font-size: 18px !important;
  }

  .image {
    width: 100% !important;
    border-radius: 0px !important;
    margin: 10px !important;
    margin-inline: 0px !important;
  }

  .btn-blue,
  .btn-bg {
    line-height: 35px !important;
  }
}

.hideUI .build-header, .hideUI .build-footer {
  height: 0px;
  padding: 0;
  overflow: hidden;
  padding-inline: 10px;
}

.hideUI ~ .togglePage {
  bottom: 20px;
}

.hideUI ~ .toggleUI {
  bottom: 70px;
}