:root {
  /*=======COLORS===========*/
  --bg: #f7f4ef;
  --fg: #f7f4ef;
  --e: #f7f4ef;
  --txs: #a3a3a3;
  --tx: #5a5a5a;
  --txb: #000000;
  --t: #e06c75;
  --shadow: #00000040;
  --link: #3ba9dc;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body,
html,
#__nuxt {
  background-color: var(--bg);
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  color: var(--txb);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: #f7f4ef !important;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3 !important;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a !important;
}

.icon_arrow_back {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 20px !important;
  color: #000000;
}

.back-link {
  grid-template-columns: 20px auto;
  grid-auto-rows: 20px;
  display: grid;
  align-items: center;
  gap: 3px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 5px;
}

.container {
  width: clamp(200px, 100%, 820px);
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--tx);
  font-size: 18px;

  .generated-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.space {
  margin-inline: 80px;
  border-top: 1px solid var(--txs);
}

hr {
  margin: 15px;
  border-top: 1px solid var(--txs);
  margin-inline: 0;
}

.header > .title {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.header > .desc {
  font-size: 20px;
  color: var(--tx);
  line-height: 30px;
}

.list > .list-text {
  margin-left: 23px;
}

.btn-blue {
  background-color: var(--link);
  padding: 5px;
  border-radius: 8px;
  border: 2px solid black;
  color: black;
  font-size: 14px;
  cursor: not-allowed;
  white-space: nowrap;
}

.btn-bg {
  background-color: var(--bg);
  padding: 5px;
  border-radius: 8px;
  border: 2px solid black;
  color: black;
  font-size: 14px;
  cursor: not-allowed;
  white-space: nowrap;
}

.list > .list-text > .link {
  color: var(--link);
  font-size: 18px;
  text-decoration: none;
}

.list > .list-text::marker {
  color: var(--txs);
}

.list > .star {
  margin-left: 40px;
  padding-left: 7px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.list > .star::marker {
  content: "✳";
  font-size: 20px;
}

.image {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 10px var(--shadow);
  margin-inline: 0px;
}

.text {
  display: block;
}

.text:has(.btn-blue) {
  display: block;
}

.blue-text {
  color: var(--link);
  text-decoration: underline;
}

@media (max-width: 860px) {
  hr {
    margin-top: 5px;
    margin-inline: 8px;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
  }

  .space {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 8px;
  }

  .back-link {
    margin-left: 8px;
  }

  .header {
    padding-inline: 8px;
  }

  .header > .title {
    font-size: 35px;
  }

  .header > .desc {
    font-size: 18px;
  }

  .container {
    font-size: 16px;
  }

  .generated-content {
    gap: 10px !important;
  }

  .text,
  .list {
    padding-inline: 8px;
  }

  .list > .list-text > .link {
    font-size: 16px;
  }

  .list > .star::marker {
    font-size: 18px;
  }

  .image {
    width: 100%;
    border-radius: 0px;
    margin: 10px;
    margin-inline: 0px;
  }

  .btn-blue,
  .btn-bg {
    line-height: 35px;
  }
}
