:root {
  /*=======COLORS===========*/
  --bg: #16151a;
  --e: #1c1b21;
  --fg: #19181d;
  --tx: #85868b;
  --txb: #ffffff;
  --t: #e06c75;
  --search: #1e1d23;
}

@font-face {
  font-family: genshin;
  src: url("~/assets/fonts/zh-cn.ttf");
}

@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter.woff2");
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: var(--txb);
}

a {
  text-decoration: none;
  color: var(--txb);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 30px !important;
  cursor: pointer;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  background-color: #18171c;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-grid {
  display: grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: 100px 40px 40px;
}

.img {
  width: 150px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  transition: scale 0.5s;
}

.img:hover {
  scale: 1.03;
}

.h1 {
  cursor: pointer;
  color: var(--t);

  font-family: genshin;

  display: flex;
  align-self: end;
  font-size: 50px;
  font-weight: 700;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  line-height: 70px;

  background: linear-gradient(
      90deg,
      hsl(0, 90%, 65%),
      hsl(0.25turn, 90%, 65%),
      hsl(0.5turn, 90%, 65%),
      hsl(0.75turn, 90%, 65%),
      hsl(1turn, 90%, 65%),
      hsl(0.75turn, 90%, 65%),
      hsl(0.5turn, 90%, 65%),
      hsl(0.5turn, 90%, 65%),
      hsl(0.25turn, 90%, 65%),
      hsl(0, 90%, 65%)
    )
    0 0 / 800% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.1s;
}

.th {
  font-family: genshin;
  color: var(--t);
  transition: 0.2s;
}

.th:hover {
  font-size: 60px;
  color: white;
}

.h1 > .bigger {
  margin-top: -7px;
  color: var(--t);
  font-family: genshin;
  font-size: 70px;
  transition: 0.2s;
}

.h1 > .bigger:hover {
  font-size: 80px;
  color: white;
  margin-left: -5px;
}

.text-container .p {
  margin-left: 5px;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: var(--tx);
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  place-items: center;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.icon {
  transition: 0.2s;
  padding-inline: 3px;
}

.icon-container {
  position: relative;
}

.icon-container:hover {
  .icon {
    color: var(--hover_color);
    animation: shake 0.5s 1;
    translate: 0px -5px;
  }
  .icon_hover {
    display: block;
  }
}

.icon_hover {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--tx);
  background-color: var(--e);
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
  white-space: nowrap;
}

.icon_hover::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 10px solid var(--e);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: 10deg;
  }
  40% {
    rotate: -10deg;
  }
  60% {
    rotate: 10deg;
  }
  80% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}

@media (max-width: 600px) {
  .content-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 100px 40px 40px;
    place-items: center;
    height: 100%;
  }
  .img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .h1 {
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .icons {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}
