* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: var(--txb);
}

a {
  text-decoration: none;
  color: var(--txb);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 30px !important;
  cursor: pointer;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--bg);
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-grid {
  display: grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: 100px 40px auto;
  transition: filter .3s;
  place-items: center;
}

.img {
  animation: scale .5s cubic-bezier(0, 0.43, 0.39, 1.5) calc(2s) 1 both;
  z-index: 1;
  width: 150px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  transition: scale 0.5s;
  align-self: flex-end;
}

.img:hover {
  scale: 1.03;
}

.h1 {
  justify-self: flex-start;
  cursor: pointer;
  color: var(--t);

  font-family: genshin;

  display: flex;
  align-self: end;
  font-size: 50px;
  font-weight: 700;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  line-height: 70px;

  background: linear-gradient(
      90deg,
      hsl(0, 90%, 65%),
      hsl(0.25turn, 90%, 65%),
      hsl(0.5turn, 90%, 65%),
      hsl(0.75turn, 90%, 65%),
      hsl(1turn, 90%, 65%),
      hsl(0.75turn, 90%, 65%),
      hsl(0.5turn, 90%, 65%),
      hsl(0.5turn, 90%, 65%),
      hsl(0.25turn, 90%, 65%),
      hsl(0, 90%, 65%)
    )
    0 0 / 800% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.1s;
}

.th {
  font-family: genshin;
  color: var(--t);
  transition: 0.2s;
  animation: scale .5s cubic-bezier(0, 0.43, 0.39, 2) calc(2s + var(--delay)) 1 both;
}

.th:hover {
  font-size: 60px;
  color: white;
}

.h1 > .bigger {
  margin-top: -7px;
  color: var(--t);
  font-family: genshin;
  font-size: 70px;
  transition: 0.2s;
}

.h1 > .bigger:hover {
  font-size: 80px;
  color: white;
  margin-left: -5px;
}

.text-container {
  justify-self: flex-start;
}

.text-container .p {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: var(--tx);
  animation: fade_in .5s cubic-bezier(0, 0.43, 0.39, 2) calc(2.3s + var(--delay)) 1 both;
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  place-items: center;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.icon {
  transition: 0.2s;
  padding-inline: 3px;
}

.icon-container {
  position: relative;
}

.icon-container:hover {
  .icon {
    color: var(--hover_color);
    animation: shake 0.5s 1;
    translate: 0px -5px;
  }
  .icon_hover {
    display: block;
  }
}

.icon_hover {
  display: none;
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--tx);
  background-color: var(--search);
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
  white-space: nowrap;
}

.icon_hover::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 10px solid var(--search);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: 10deg;
  }
  40% {
    rotate: -10deg;
  }
  60% {
    rotate: 10deg;
  }
  80% {
    rotate: -10deg;
  }
  100% {
    rotate: 0deg;
  }
}

.tags {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5px;
}

.tag {
  position: relative;
  display: block;
  font-family: smallCaps;
  font-size: 18px !important;
  letter-spacing: 1px;
  padding: 3px;
  padding-top: 1px;
  padding-right: 7px;
  padding-inline: 8px;
  width: max-content;
  background-color: var(--fg);
  border: 1px solid var(--search);
  border-radius: 8px;
  color: var(--tx);
  user-select: none;
  cursor: pointer;
  animation: bottom_top .5s cubic-bezier(0, 0.43, 0.39, 2) calc(2.8s + var(--delay)) 1 both;
}

@keyframes bottom_top {
  from {
    translate: 0 20px;
    opacity: 0;
  }
  to {
    translate: 0 0px;
    opacity: 1;
  }
}

@keyframes scale {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.center > div {
  font-family: Inter;
  font-size: 18px !important;
  color: var(--tx);
  position: relative;
  translate: 0 -4px;
}

.stfont {
  font-family: Inter;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--tx);
}

body:has(.nav-container.open) .content-grid {
  filter: brightness(50%);
}

@media (max-width: 600px) {
  .text-container, .h1 {
    justify-self: center;
  }
  .tags {
    justify-content: center;
  }
  #__nuxt {
    width: 100%;
  }
  .content-grid {
    margin-top: -150px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 100px 60px auto;
    place-items: center;
    height: 100%;
    width: 100vw;
    left: 0;
    top: 100px;
    padding-inline: 20px;
  }
  .img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .h1 {
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .icons {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .bigger {
    font-size: 50px;
  }
  .bigger:hover {
    font-size: 60px;
  }

  .img {
    transition: opacity 0.2s;
    opacity: 1;
  }
  
  body:has(.nav-container.open) .img {
    opacity: 0;
  }
}
