.list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: clamp(250px, 100%, 1000px);
  align-items: center;
}

.di-inside {
  padding: 10px;
  border-left: 4px solid black;
  border-radius: 0px 12px 12px 0px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 25px auto;
  overflow: visible;
  align-items: center;
  box-shadow: 0 0 10px #00000030;
}

.component-type {
  text-transform: capitalize;
  font-weight: 500;
}

.component-type::before {
  content: "- ";
}

.component-text {
  margin-top: 5px;
  overflow: visible;
  margin-right: 10px;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px;
  place-items: center;
}

.draggable-item {
  padding: 8px;
  padding-inline: 0;
  width: clamp(250px, 100%, 800px);
}
.drop-indicator {
  position: absolute;
  width: calc(100% + 15px);
  height: calc(100% + 10px);
  border-radius: 4px 14px 14px 4px;
  background-color: var(--link);
  z-index: 0;
  opacity: .2;
  pointer-events: none;
}

.text-input {
  padding: 5px;
  background-color: var(--bg);
  box-shadow: 0 0 10px #00000030;
  border-radius: 8px;
  padding-inline: 6px;
  width: 100%;
}