@font-face {
  font-family: genshin;
  src: url("~/assets/fonts/zh-cn.ttf");
}

@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter.woff2");
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: var(--txb);
}

a {
  text-decoration: none;
  color: var(--txb);
}

.nav-container {
  z-index: 10;
  width: 500px;
  height: 110px;
  overflow: hidden;
  position: fixed;
  background-color: var(--fg);
  border: 1px solid var(--border);
  border-radius: 20px;
  bottom: 15px;
  display: grid;
  grid-template-rows: 15px 0px 65px auto;
  color: var(--txt);
  place-items: center;
  padding-inline: 20px;
  padding-top: 5px;
  user-select: none;
  transition: height 0.3s ease-in-out, grid-template-rows .3s ease-in-out;

  .top-arrow {
    font-family: "Material Symbols Rounded" !important;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    color: var(--tx);
    padding-inline: 50px;
    transition: rotate .2s;
  }

  .top-arrow.animate {
    animation: arrow 8s ease-in-out infinite;
  }

  .top-arrow.rotated {
    transform: rotate(180deg);
  }

  .quick-actions {
    transition: margin .3s;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .nav-icon {
      background-color: var(--search);
      transition: .3s;
      width: 60px;
      aspect-ratio: 1 / 1;
      display: grid;
      place-items: center;
      border-radius: 12px;
    }
  }
}

.search-bar {
  background-color: var(--fg);
  border: 0px solid var(--search);
  padding: 0;
  width: 100%;
  border-radius: 8px;
  height: 0px;
  outline: none;
  transition: all .3s, border .1s;
  color: var(--tx);
}

.nav-container.open .search-bar {
  height: calc(100% - 20px);
  pointer-events: unset;
  border: 1px solid var(--search);
  padding: 6px;
  padding-inline: 15px;
}

.nav-container.open {
  height: 800px;
  grid-template-rows: 15px 50px 65px auto;

  .quick-actions {
    margin-top: 0px;
  }
}

@keyframes arrow {
  80% {
    translate: 0 0;
  }
  85% {
    translate: 0 -5px;
  }
  90% {
    translate: 0 0;
  }
  95% {
    translate: 0 -5px;
  }
  100% {
    translate: 0 0;
  }
}

@media (max-width: 600px) {
  .nav-container {
    width: 100vw;
    border: none;
    border-top: 1px solid var(--border);
    border-radius: 20px 20px 0 0;
    bottom: 0px;
    padding-top: 6px;
  }

  .nav-container.open {
    height: 100%;
    border-radius: 0;
    border: 0;

    .quick-actions {
      margin-top: 0px;
  
      .nav-icon {
        width: 55px;
      }
    }
  }
}
