:root {
  --bg: #f7f4ef;
  --txs: #a3a3a3;
  --tx: #5a5a5a;
  --txb: #000000;
  --t: #e06c75;
  --shadow: #00000040;
  --link: #3ba9dc;
  --border: #00000020;
}

:root[data-theme="dark"] {
  --bg: #2b2b2b;
  --txs: #636363;
  --tx: #cccccc;
  --txb: #ffffff;
  --t: #ff9a9a;
  --shadow: #00000040;
  --link: #3ba9dc;
  --border: #ffffff20;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  transition: background-color .2s, color .2s;
}

a {
  text-decoration: none;
  color: var(--txb);
}

.icon {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 30px !important;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  display: grid;
  place-items: center;
  color: var(--txb);
}

ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  width: max-content;
  position: relative;
}

li:has(.link) {
  white-space: nowrap;
  margin: 10px;
  margin-inline: 0;
  user-select: none;
}

.link {
  display: grid;
  grid-template-columns: 50px 250px;
  place-items: center;
}

.text {
  justify-self: start;
}

.na > .link {
  pointer-events: none;
  cursor: not-allowed !important;
  color: var(--txs) !important;
}

.back {
  .icon {
    font-size: 20px !important;
  }
  .link {
    color: var(--tx);
    font-size: 16px !important;
  }
}