:root {
  /*=======COLORS===========*/
  --bg: #F7F4EF;
  --fg: #F7F4EF;
  --e: #F7F4EF;
  --txs: #A3A3A3;
  --tx: #5A5A5A;
  --txb: #000000;
  --t: #e06c75;
  --shadow: #00000050;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--txb);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 30px !important;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bg);
  display: grid;
  place-items: center;
  user-select: none;
  color: var(--txb);
}

ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
}

li {
  margin: 10px;
}

.link {
  display: grid;
  grid-template-columns: 50px 200px;
  place-items: center;
}

.text {
  justify-self: start;
}

.na > .link {
  cursor: not-allowed;
  color: var(--txs);
}

.back {
  scale: 0.7;
  margin-left: -25px;
}
.back .link {
  color: var(--tx);
}