:root {
  --bg: #2b2b2b;
  --txs: #636363;
  --tx: #cccccc;
  --txb: #ffffff;
  --t: #ff9a9a;
  --shadow: #00000040;
  --link: #3ba9dc;
  --border: #ffffff20;
}

:root[data-theme="light"] {
  --bg: #f7f4ef;
  --txs: #a3a3a3;
  --tx: #5a5a5a;
  --txb: #000000;
  --t: #e06c75;
  --shadow: #00000040;
  --link: #3ba9dc;
  --border: #00000020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchContainer {
  z-index: 15;
  background-color: #00000090;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  .searchInside {
    border-radius: 16px;
    overflow: hidden;
    width: 400px;
    background-color: var(--bg);
    display: grid;
    grid-template-rows: 50px auto 50px;

    .search {
      width: 100%;
      height: 100%;
      padding: 10px;
      padding-inline: 15px;
      box-shadow: 0 0 20px #00000040;

      .searchBox {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        outline: none;
        background-color: var(--bg);
        color: var(--txb);
      }
    }

    .results {
      min-height: 40px;
      height: max-content;
      max-height: 400px;
      overflow: auto;
      width: 100%;
      display: grid;
      place-items: center;

      .placeholder {
        color: var(--txs);
      }

      .resultsUL {
        list-style: none;
        width: 100%;

        .resultsLink {
          text-decoration: none;
        }

        .resultsLI {
          margin: 10px;
          padding: 5px;
          padding-inline: 10px;
          background-color: var(--bg);
          border-radius: 6px;
          border: 3px solid var(--link);
          text-decoration: none;

          .resultsTitle {
            color: var(--txb);
            text-decoration: none;
          }

          .resultsDesc {
            color: var(--tx);
            font-size: 14px;
          }
        }
      }
      
      .active {
        background-color: #3ba9dc50 !important;
      }
    }

    .searchFooter {
      box-shadow: 0 0 20px #00000040;
      height: 100%;
      width: 100%;
      grid-row: 3 / 4;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .searchIconContainer {
        display: flex;
      }

      .iconText {
        color: var(--tx);
      }

      .searchIcon {
          align-items: center;
          background: linear-gradient(-26.5deg,#71727a,#46485a);
          border: 0;
          border-radius: 3px;
          box-shadow: inset 0 -2px 0 0 #3e3e43,inset 0 0 1px 1px #686a78,0 2px 2px 0 rgba(0,0,0,.3);
          color: #7f8497;
          color: #f1f1f1;
          display: flex;
          justify-content: center;
          margin-right: 4px;
          padding: 3px;
          width: max-content;
      }
    }
  }
}