:root {
  --bg: #0f0e13;
  --variant: #121116;
  --fg: #111015;
  --border: rgba(49,49,49,.68);
  --tx: #85868b;
  --txb: #ffffff;
  --t: #e06c75;
  --search: #1e1d23;
}

@font-face {
  font-family: genshin;
  src: url("~/assets/fonts/zh-cn.ttf");
}

@font-face {
  font-family: smallCaps;
  src: url("~/assets/fonts/mor.ttf");
}

@font-face {
  font-family: waradu;
  src: url("~/assets/fonts/waradu.ttf");
}

@font-face {
  font-family: Inter;
  src: url("~/assets/fonts/Inter-Regular.woff2");
}


@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url('~/assets/fonts/mi.woff2') format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded' !important;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--t);
}